<div class="card" style="width: auto;">
    <div class="card-body">
      <h2 class="card-title text-center text-light">{{customer.Fname}} {{customer.Lname}}</h2><br>
      <h4 class="card-subtitle mb-2 text-light">* Email: {{customer.email}}</h4><br>
      <h4 class="card-subtitle mb-2 text-light">* Phone : {{customer.phone}}</h4><br>
      <h4 class="card-subtitle mb-2 text-light">* Address : {{customer.address}} </h4><br>
      <h4 class="card-subtitle mb-2 text-light">* Notes : {{customer.notes}} </h4>
     <br><br>

      <button class="btn btn-primary" (click)= "closeModal()"> << Back </button>
    </div>
  </div>
