<div id="div_update" class="container">
  <h4 class="d-flex justify-content-center my-2">Update Customer</h4>
  <form #bookForm="ngForm" (ngSubmit)="updateCustomer()">
    <div class="form-group w-50">
      <label for="fname" class="mt-2 fw-bold">First name: </label>
      <input
        type="text"
        class="form-control"
        id="fname"
        name="fname"
        placeholder="Enter first name"
        [(ngModel)]="customer.Fname"
        #Fname="ngModel"
        required
      />
      <label for="lname" class="mt-2 fw-bold">Last name: </label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter last name"
        id="lname"
        name="lname"
        [(ngModel)]="customer.Lname"
        #Lname="ngModel"
        required
      />

      <label for="phone" class="mt-2 fw-bold">Phone: </label>
      <input
        type="text"
        class="form-control"
        id="phone"
        placeholder="Enter phone number"
        name="phone"
        [(ngModel)]="customer.phone"
        #phone="ngModel"
        required
      />
      <label for="email" class="mt-2 fw-bold"> Email: </label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        name="email"
        [(ngModel)]="customer.email"
        #email="ngModel"
        required
      />
      <label for="address" class="mt-2 fw-bold"> Address: </label>
      <input
        type="text"
        class="form-control"
        id="address"
        name="address"
        placeholder="Enter address"
        [(ngModel)]="customer.address"
        #email="ngModel"
        required
      />
      <label for="notes" class="my-2 fw-bold"> Notes: </label>
      <input
        type="text"
        class="form-control"
        id="notes"
        name="notes"
        placeholder="Enter notes"
        [(ngModel)]="customer.notes"
        #notes="ngModel"
      
      />
    </div>
    <button type="submit" class="btn btn-success me-5 my-3 fw-bold">
      Update Customer
    </button>
   
  </form>
</div>
