#div_add{
    background-image : linear-gradient(rgb(156, 141, 210),rgb(233, 145, 220))
}

.ng-valid[required]{
    border-left: 5px solid rgb(12, 163, 12);
}

.ng-invalid[required] {
    border-left: 5px solid red;
}